@page "/cart"
@inject ICartService CartService

<h3>Shopping Cart</h3>

@if (cartItems == null || cartItems.Count <= 0)
{
<span>You have no items in your cart.</span>
}

@code {
    List<CartItem> cartItems = new List<CartItem>();
}
