@page "/map"

<h3 class="text-center">Book Stores</h3>
<div class="map-responsive">
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=12nwDdM36bSD6X0NYF-WgOpFzNjKtHOWR&ehbc=2E312F" width="640" height="480"></iframe>
</div>


@code {

}
