@inject ISyncLocalStorageService LocalStorage
@inject ICartService CartService
@implements IDisposable

<a href="cart" class="btn btn-info">
    <i class="oi oi-cart"></i>
    <span class="badge">@GetProductCount()</span>
</a>

@code {
    /// <summary>
    /// get the number of products in the cart
    /// </summary>
    /// <returns></returns>
    private int GetProductCount()
    {
        var cart = LocalStorage.GetItem<List<Product>>("cart");
        return cart != null ? cart.Count : 0;
    }

    protected override void OnInitialized()
    {
        CartService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        CartService.OnChange -= StateHasChanged;
    }

}
